<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav>
            {% if user.is_authenticated %}
                {% if user.periodista %}
                    {% include "navlogin_periodista.html" %}
                {% else %}
                    {% include "navlogin.html" %}
                {% endif %}
            {% else %}
                {% include "navbar.html" %}
            {% endif %}
        </nav>
    </header>
    <main class="flex-grow-1">
        {% block content %}
        <!-- Contenido principal -->
        {% endblock %}
    </main>
    <footer class="mt-auto bg-dark text-white py-4">
        {% include 'footer.html' %}
    </footer>
    {% bootstrap_javascript %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/consumo_API.js' %}"></script>
</body>
</html>
