<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h5>Caos News</h5>
            <p>Puedes contactarnos a través de:</p>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> contacto@caosnews.com</li>
                <li><strong>Teléfono:</strong> +1 234 567 8900</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Enlaces rápidos</h5>
            <ul class="list-unstyled">
                <li><a href="{% url 'contacto' %}" class="text-white">Formulario de Contacto</a></li>
                <li><a href="{% url 'contacto-laboral' %}" class="text-white">Trabaja con nosotros</a></li>
            </ul>
        </div>
    </div>
</div>
