{% extends "base.html" %}

{% block title %}
Lista de Noticias
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <h2>Lista de Noticias</h2>
    <ul class="list-group">
        {% for noticia in noticias %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}" class="img-fluid noticia-imagen" style="max-height: 200px;">
                    {% else %}
                    <p>No hay imagen disponible</p>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3>{{ noticia.titulo }}</h3>
                    <p>{{ noticia.bajada_de_titulo }}</p>
                    <a href="{% url 'actualizar_noticia' noticia.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <form method="post" action="{% url 'eliminar_noticia' noticia.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
